<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}

    <!-- cart page -->

    <div class="cart_page">
        <div class="shopping-cart" id="shopping_cart"></div>
        <div class="label" id="label"></div>
    </div>
    

    <script src="/js/addtocart.js"></script>
</body>
</html>
