<style>
    .logo img{
        width: 120%;
        height: 75px;
    }
</style>

<nav>
            <div class="logo">
                <a href="/" style="width: 120px;">
                    <img src="assets/logo.png" alt="logo">
                </a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Shop</a></li>
                <li><a href="/">Trends</a></li>
                <li><a href="/">Blogs</a></li>
            </ul>
            <i class="fa-solid fa-cart-shopping"></i>
        </nav>